<div class="col-xs-12 col-sm-6 col-md-4 product">
  <div class="product-links">
    <%= link_to 'Show', product, class: "btn btn-default" %>
    <%= link_to 'Edit', edit_product_path(product), class: "btn btn-warning" %>
    <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
  </div>
  <div class="product-img-box">
      <img src="<%= product.image_url %>" alt="<% product.name %>" class="product-image"/>
  </div>
  <h3 class="product-title"><%= product.name %></h3>
  <p class="product-description"><%= product.description %></p>
  <div class="product-color-price">
    <span class="text-muted product-color"><strong>Color:</strong> <%= product.color %></span>
    <span class="product-price">$<%= product.price %></span>
  </div>
</div>
