<div class=" col-xs-12 col-md-6 product-image-box">
  <img src="<%= @product.image_url %>" alt="<%= @product.name %>" class="show-product-image" />
  <ul class="product-images-small">
    <li class="product-images-list"><img src="<%= @product.image_url %>" alt="<%= @product.name %>" class="product-image-small image-active" /></li>
    <li class="product-images-list"><img src="<%= @product.image_url %>" alt="<%= @product.name %>" class="product-image-small" /></li>
    <li class="product-images-list"><img src="<%= @product.image_url %>" alt="<%= @product.name %>" class="product-image-small" /></li>
  </ul>
</div>
<div class="col-xs-12 col-md-6 top-margin">
  <div class="product-details">
    <p><%= @product.description %></p>

    <ul class="product-details-filters bottom-margin">
      <li class="filter-box">
        <ul class="filter-color filter-product filter-list">
          <li class="color-item color-blue filter-active"><span>Blue</span></li>
          <li class="color-item color-yellow"><span>Yellow</span></li>
          <li class="color-item color-green"><span>Green</span></li>
          <li class="color-item color-white"><span>White</span></li>
          <li class="color-item color-black"><span>Black</span></li>
          <li class="color-item color-gray"><span>Gray</span></li>
          <li class="color-item color-red"><span>Red</span></li>
        </ul>
      </li>

      <li class="filter-box">
        <ul class="filter-size filter-product filter-list">
          <li class="size-item filter-active">XL</li>
          <li class="size-item">L</li>
          <li class="size-item">M</li>
          <li class="size-item">S</li>
          <li class="size-item">XS</li>
        </ul>
      </li>
    </ul>

    <p class="product-detail-price">$<%= @product.price %></p>
    <p>Average Rating: <div class="rated" data-score="<%= @product.average_rating %>"></div></p>
    <div class="product-add-to-cart">
      <button type="button" name="button" class="add-to-cart-general-btn button">Add to Cart</button>
    </div>
    <div class="share-details">
      <a href="#" class="button share-btn">Share</a>
    </div>
    <%= form_tag "/payments" do %>
      <%= hidden_field_tag(:product_id, @product.id) %>
      <%= render partial: "shared/stripe_checkout_button" %>
    <% end %>

    <div class="hide">
      <%= link_to 'Edit', edit_product_path(@product), class: "btn btn-warning" %>
      <%= link_to 'Destroy', @product, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
    </div>

  </div>

</div>
