<div class="container">
  <p id="notice"><%= notice %></p>

  <div class="show-top-buttons">
    <%= link_to(products_path, class: "btn btn-default") do %>
      <i class="fa fa-chevron-left"> Back</i>
      <% end %>
    <%= link_to 'Edit', edit_product_path(@product), class: "btn btn-default pull-right" %>
  </div>

  <p><span><a href="#">Home</a></span> / <span><a href="#">Category</a></span> / <span><%= @product.name %></span></p>

  <div class="row">
    <%= render "product_detail" %>
  </div>

  <div class="row">
    <%= render "reviews" %>
  </div>

</div>
