<div id="hero-products-all" class="hero-products">
  <nav class="top-bar">
    <div class="container-fluid">
      <div class="pull-left nav-logo">
        <%= link_to (root_path) do %>
          <%= image_tag("logo.svg", class: "navbar-logo-small navbar-logo") %>
        <% end %>
        <!-- <span class="logo-title">Oky Shirt</span> -->
      </div>
      <div class="pull-right <%= "registration-btns" if !user_signed_in? %>">

        <% if user_signed_in? %>
        <ul class="nav navbar-nav">
          <li><a href="#" class="cart-icon in-cart"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span><span class="cart-indicator">1</span></a></li>
          <li class="dropdown">
            <button class="button btn-login account-dropdown dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              User Name
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li><a href="#">Account</a></li>
              <li><a href="#">Settings</a></li>
              <li role="separator" class="divider"></li>
              <li>
                <%= link_to destroy_user_session_path, :method => :delete, class: "log-out-btn" do %>
                  <span class="glyphicon glyphicon-off" aria-hidden="true"></span> Log Out
                <% end %>
              </li>
            </ul>
          </li>

        </ul>

        <% else %>

            <%= link_to("Login", new_user_session_path, class: "button btn-registration btn-login") %>
            <%= link_to("Sign Up", new_user_registration_path, class: " button btn-registration btn-sign-up") %>

        <% end %>

      </div>
    </div>
  </nav>
  <div class="container filter-section">
    <div class="header-filters col-xs-12">
      <div class="filters-headline">
        <h3>Filter your best tshirt right now</h3>
      </div>
      <div class="filters col-md-12">
        <ul class="col-md-12">

          <li class="filter-box col-md-4">
            <span class="filter-name">Pick Style: </span>
            <form class="filter-style">
              <select class="filter-select">
                <option>All</option>
                <option>Awesome</option>
                <option>Boring</option>
                <option>Funny</option>
                <option>Blank</option>
              </select>
            </form>
          </li>

          <li class="filter-box col-md-4">
            <span class="filter-name pull-left">Pick Color: </span>
            <ul class="filter-color filter-list">
              <li class="color-item color-blue"><span>Blue</span></li>
              <li class="color-item color-yellow"><span>Yellow</span></li>
              <li class="color-item color-green"><span>Green</span></li>
              <li class="color-item color-white"><span>White</span></li>
              <li class="color-item color-black"><span>Black</span></li>
              <li class="color-item color-gray"><span>Gray</span></li>
              <li class="color-item color-red"><span>Red</span></li>
            </ul>
          </li>

          <li class="filter-box col-md-4">
            <span class="filter-name pull-left">Pick Size: </span>
            <ul class="filter-size filter-list">
              <li class="size-item">XL</li>
              <li class="size-item">L</li>
              <li class="size-item">M</li>
              <li class="size-item">S</li>
              <li class="size-item">XS</li>
            </ul>
          </li>

        </ul>

      </div>
    </div>
  </div>
</div>
