<div id="hero-products-all" class="hero-products">
  <nav class="top-bar">
    <div class="container-fluid">
      <div class="pull-left nav-logo">
        <%= link_to (root_path) do %>
          <%= image_tag("logo.svg", class: "navbar-logo-small navbar-logo") %>
        <% end %>
        <!-- <span class="logo-title">Oky Shirt</span> -->
      </div>
      <div class="pull-right <%= "registration-btns" if !user_signed_in? %>">

        <% if user_signed_in? %>
        <ul class="nav navbar-nav">
          <li><%= link_to("Home", root_path, class: "link") %></li>
          <li><%= link_to("Browse All", products_path, class: "link") %></li>
          <li><%= link_to("Support", new_user_session_path, class: "link") %></li>
          <li> | </li>
          <li><a href="#" class="cart-icon in-cart"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span><span class="cart-indicator">1</span></a></li>
          <li class="dropdown">
            <button class="button btn-login account-dropdown dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              User Name
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li><a href="#">Account</a></li>
              <li><a href="#">Settings</a></li>
              <li role="separator" class="divider"></li>
              <li>
                <%= link_to destroy_user_session_path, :method => :delete, class: "log-out-btn" do %>
                  <span class="glyphicon glyphicon-off" aria-hidden="true"></span> Log Out
                <% end %>
              </li>
            </ul>
          </li>

        </ul>

        <% else %>

            <%= link_to("Login", new_user_session_path, class: "button btn-registration btn-login") %>
            <%= link_to("Sign Up", new_user_registration_path, class: " button btn-registration btn-sign-up") %>

        <% end %>

      </div>
    </div>
  </nav>

  <div class="hero-header">
    <h3 class="hero-title"><%= @product.name %></h3>
    <p class="text-center hero-categories"><span><a href="#">Home</a></span> / <span><a href="#">Category</a></span> / <span><%= @product.name %></span></p>
  </div>

</div>
