<!DOCTYPE html>
<html>
<head>
  <title>Newapp</title>

  <!-- Bootstrap stylesheet -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <!-- Custom stylesheet -->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <!-- JS libraries -->
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <!-- Bootstrap JS -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  <!-- Meta tags -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
</head>
<body>

  <% if current_page?(root_path) %>
      <%= render 'layouts/home_header' %>
  <% elsif current_page?(products_path) %>
      <%= render 'layouts/browse_header' %>
  <% elsif current_page?(product_path(:id)) %>
      <%= render 'layouts/product_header' %>
  <% else %>
      <%= render 'layouts/general_header' %>
  <% end %>

  <% if notice %>
    <p class="alert alert-info col-xs-12 col-md-6 col-md-offset-4" role="alert"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-info col-xs-12 col-md-6 col-md-offset-4" role="alert"><%= alert %></p>
  <% end %>

  <div class="container-fluid page-wrap">
    <%= yield %>
  </div>

  <footer class="footer">
    <div class="container-fluid">
      <p>Copyright stuff goes here</p>
    </div>
  </footer>

</body>
</html>
